In [8]:
import numpy as np 
import pandas as pd

import matplotlib as mpl 
import matplotlib.pyplot as plt

import mysql.connector as mariadb
from dotenv import load_dotenv              # environment variables
import os

In [9]:
# load the environment variables
load_dotenv()

# assign environment variables
PASSWORD = os.getenv('MariaDB_Password')

Functions
- retrieve data from Customer Table

In [10]:
def get_customer_data():
    try:
        # establish connection to MariaDB
        con = mariadb.connect(
            host='localhost',
            user='root',
            password=PASSWORD,
            database='creditcard_capstone'
        )
        print('Connected to MariaDB database...')

        # create a cursor
        cur = con.cursor()
        # SQL statement
        query = ''' 
        SELECT *
        FROM cdw_sapp_customer
        '''
        # execute SQL statement
        cur.execute(query)

        # convert results to pandas dataframe
        customer_df = pd.DataFrame(cur, columns=['SSN', 
                                                 'FIRST_NAME', 
                                                 'MIDDLE_NAME', 
                                                 'LAST_NAME', 
                                                 'CREDIT_CARD_NO', 
                                                 'FULL_STREET_ADDRESS', 
                                                 'CUST_CITY', 
                                                 'CUST_STATE', 
                                                 'CUST_COUNTRY', 
                                                 'CUST_ZIP', 
                                                 'CUST_PHONE', 
                                                 'CUST_EMAIL', 
                                                 'LAST_UPDATED'])
        # close connection to MariaDB
        con.close()

        return customer_df
    except mariadb.ERROR as err:
        print(err)

In [12]:
customer_df = get_customer_data()
customer_df.head()

Connected to MariaDB database...

,SSN,FIRST_NAME,MIDDLE_NAME,LAST_NAME,CREDIT_CARD_NO,FULL_STREET_ADDRESS,CUST_CITY,CUST_STATE,CUST_COUNTRY,CUST_ZIP,CUST_PHONE,CUST_EMAIL,LAST_UPDATED
0,123456100,Alec,wm,Hooper,4210653310061055,"Main Street North, 656",Natchez,MS,United States,39120,(781)123-3781,AHooper@example.com,2018-04-21 12:49:02
1,123453023,Etta,brendan,Holman,4210653310102868,"Redwood Drive, 829",Wethersfield,CT,United States,6109,(781)123-3893,EHolman@example.com,2018-04-21 12:49:02
2,123454487,Wilber,ezequiel,Dunham,4210653310116272,"12th Street East, 683",Huntley,IL,United States,60142,(781)124-4301,WDunham@example.com,2018-04-21 12:49:02
3,123459758,Eugenio,trina,Hardy,4210653310195948,"Country Club Road, 253",NewBerlin,WI,United States,53151,(781)124-4321,EHardy@example.com,2018-04-21 12:49:02
4,123454431,Wilfred,may,Ayers,4210653310356919,"Madison Street, 301",ElPaso,TX,United States,79930,(781)124-4207,WAyers@example.com,2018-04-21 12:49:02